<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyx.mapper.UserMapper">
    <insert id="insertUser">
        insert into t_user(
            username,
            password,
            salt,
            phone,
            email,
            gender,
            avatar,
            is_delete,
            created_user,
            created_time,
            modified_user,
            modified_time
        )values(
            #{username},
            #{password},
            #{salt},
            #{phone},
            #{email},
            #{gender},
            #{avatar},
            #{isDelete},
            #{createdUser},
            #{createdTime},
            #{modifiedUser},
            #{modifiedTime}
                 )
    </insert>

    <select id="findUserByUserName" resultType="user">
        select * from t_user where username=#{username}
    </select>
    <update id="updatePasswordByUid">
        update t_user set password=#{password},
                          modified_user=#{modifiedUser},
                          modified_time=#{modifiedTime}
                      where uid=#{uid}
    </update>
    <select id="findByUid" resultType="user">
        select * from t_user where uid=#{uid}
    </select>

    <update id="updateUser">
        update t_user set <if test="phone!=null and phone!=''">
                            phone=#{phone},
                          </if>
                          <if test="email!=null and email!=''">
                              email=#{email},
                          </if>
                          <if test="gender!=null and gender!=''">
                              gender=#{gender},
                          </if>
                          <if test="modifiedUser!=null and modifiedUser!=''">
                              modified_user=#{modifiedUser},
                          </if>
                          <if test="modifiedTime!=null">
                              modified_time=#{modifiedTime}
                          </if>
                      where uid=#{uid}
    </update>
    <update id="updateAvatarByUid">
        update t_user set avatar=#{avatar},
                          modified_user=#{modifiedUser},
                          modified_time=#{modifiedTime}
                      where uid=#{uid}
    </update>

</mapper>